@import "tailwindcss";

@theme{
  --color-dark-green : #346739;
  --color-green: #79AE6F;
  --color-light-green: #9FCB98;
  --color-red: #F45B26;

  --color-black: #091413;
  --color-white: #FFFDEB;
}

